@import "../../variables";

#root {
  #manageData {
    .ant-breadcrumb {
      .ant-breadcrumb-separator {
        margin: 0 16px;
        h2 {
          font-weight: 300;
          color: #8388a8;
        }
      }
      h2 {
        font-size: 1.6rem;
      }
      span:last-child span h2 {
        color: #0058ff;
      }
    }

    .ant-table-expanded-row {
      .ant-table-cell {
        padding: 12px 0 20px;

        .expand-wrap {
          width: 70%;
          margin: 0 auto;

          table {
            border-collapse: collapse;

            td,
            th {
              padding: 12px 18px;
              border-bottom: solid #dededf 1px;
              width: 50%;
            }

            th {
              background-color: #dededf;
            }

            tr td:last-child {
              color: #0058ff;
            }

            tr:last-child td {
              border-bottom: 0 none;
            }
          }
        }

        .expand-footer {
          width: 100%;
          border-top: solid #dbdbde 1px;
          padding: 20px 16px;
          margin-top: 16px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    .ant-pagination {
      li,
      button {
        border: none;
        a {
          color: #898eab;
        }
        a:hover {
          // border: none;
          color: #595e7b;
        }
      }

      .ant-pagination-item-active {
        border: none;
        background-color: #0057ff;
        a {
          color: #fff;
        }
        a:hover {
          // color: #fff;
        }
      }
    }
  }
}
