@import "../../variables";

#root {
  #questionnaires {
    .ant-table {
      th,
      td {
        text-align: center;
      }
      th {
        font-weight: 900;
        font-size: 15px;
        color: #323132;
      }
      tr td:nth-child(2) span {
        color: #c2c2c7;
      }
    }
  }
  #approvers {
    .ant-table {
      .ant-table-cell > .ant-select {
        width: 100%;
        .ant-select-selector {
          border: 0 none;
          .ant-select-selection-item:before {
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            margin-right: 10px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #4d4d4d transparent transparent transparent;
          }
        }
      }
    }
  }
}
