@import "../../variables";

#root {
  #questionnaires {
    .ant-table {
      th,
      td {
        text-align: center;
      }
      th {
        font-weight: 900;
        font-size: 0.92rem;
        color: #323132;
      }
      tr td:nth-child(2) span {
        color: #c2c2c7;
      }
    }
  }
}
