@import "../../variables";

#root {
  #dashboard {
    min-height: 10vh;

    .page-title-wrapper {
      padding: 12px 0;
    }

    .main-wrapper {
      min-height: 550px;
      padding-top: 24px;

      h4 {
        margin-top: 50px;
      }

      .row-wrapper {
        padding: 12px 0;
      }
    }
  }
}
