@import "../../variables";

#root {
  #dashboard {
    min-height: 10vh;

    .page-title-wrapper {
      padding: 14px 0;
    }

    .main-wrapper {
      min-height: 550px;
      padding-top: 18px;
      h4 {
        margin-top: 50px;
      }
    }
  }
}
