@import "../../variables";

#root {
  .layout {
    min-width: 100vw;
    min-height: 100vh;
    background-color: $bg-light;
    display: block;

    .banner,
    .header,
    .body,
    .footer {
      font-size: $font-size-small;
      padding-left: $layout-padding-small-screen;
      padding-right: $layout-padding-small-screen;

      @media screen and (min-width: $screen-regular) {
        padding-left: $layout-padding;
        padding-right: $layout-padding;
      }
    }

    .body,
    .footer {
      padding-top: $padding-default;
      padding-bottom: $padding-default;
    }

    .banner {
      // min-height: calc(100vh - #{$layout-padding});
      min-height: calc(100vh - 320px);

      .countdown {
        text-align: center;

        .countdown-col {
          margin-left: 5px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 5px;

          .countdown-timer {
            font-size: 22px;
            padding-top: 10px;
          }

          .countdown-text {
            font-size: 14px;
            min-width: 80px;
            font-weight: 500;
            padding-bottom: 10px;
          }
        }
      }

      h1 {
        color: $white;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-super-large;
      }

      h2 {
        color: $white;
        font-weight: $font-weight-normal;
        font-size: $font-size-semi-large;
        line-height: 1.1;
      }

      h4 {
        font-size: $font-size-semi-large;
        line-height: 1;
      }

      button {
        &.ant-btn {
          &.ant-btn-lg {
            padding: 30px 60px;
            line-height: 2.5px;
            color: $blue;
            font-weight: 600;
          }
        }
      }
    }

    .header {
      background-color: $bg-header;
      font-weight: $font-weight-semi-bold;
      color: $color-light;
      padding-top: $padding-header;
      padding-bottom: $padding-header;

      .logo {
        align-items: center;
        display: inline-block;

        .small-logo {
          height: 65px;
        }

        img {
          height: $logo-height;
        }

        h1 {
          margin: auto;
          display: inline-block;
          color: $color-semi-light;
          font-weight: $font-weight-semi-bold;
          font-size: $font-size-large;
          margin-bottom: 0px;
          padding-left: $margin-default;
          vertical-align: middle;
          letter-spacing: 12px;

          small {
            display: block;
            font-size: 14px;
            letter-spacing: normal;
          }
        }
      }

      .account,
      .navigation {
        display: inline-block;
      }

      .navigation,
      .menu,
      button {
        text-transform: uppercase;
      }

      .navigation {
        a {
          color: $color-light;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .account {
        margin-left: 30px;
        vertical-align: middle;

        button {
          &.ant-btn {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

        a {
          color: $color-light;

          .icon {
            margin-left: $margin-small;
            border: 2px solid;
            border-radius: 100%;
            font-size: 13.5px;
            padding: 0px 4px;
          }
        }
      }
    }

    .body {
      background-color: "transparent";
    }

    .launching {
      color: #fff;
      font-size: 20px;
      padding-bottom: 1.5rem;

      h4 {
        color: #fff;
      }
    }

    .footer {
      background-color: $bg-dark;
      color: $color-light;
      font-weight: $font-weight-normal;

      h2,
      h3 {
        color: $color-light;
        font-weight: $font-weight-semi-bold;
        margin-bottom: $padding-default;
      }

      h3 {
        margin-bottom: $padding-small;
      }

      ul {
        margin-block-start: 0px;
        padding-inline-start: 0px;

        li {
          text-decoration: none;
          list-style: none;
        }
      }

      button {
        margin-top: 30px;
      }

      .end {
        border-top: 1px solid $white;
        padding-top: $padding-default - 10;
      }

      a {
        color: $white;

        &.link-inline {
          padding-right: $padding-small;
        }

        &.ant-btn {
          margin-top: 30px;
        }
      }
    }
  }
}

.dashboard-menu-item {
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
