@import "../../variables";

#root {
  .background {
    content: "";
    width: 50%;
    position: absolute;
    height: 100vh;
    top: 0px;
  }

  #login {
    background-color: $bg-header;
    margin-right: -$layout-padding;
    margin-left: -$layout-padding;

    .logo {
      position: absolute;
      left: $layout-padding;
      top: $padding-header;
      font-weight: $font-weight-semi-bold;
      align-items: center;

      img,
      h1 {
        display: inline-block;
      }

      h1 {
        margin: auto;
        display: inline-block;
        color: $white;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-large;
        margin-bottom: 0px;
        padding-left: $margin-default;
        vertical-align: middle;
        letter-spacing: 12px;

        small {
          display: block;
          font-size: 14px;
          letter-spacing: normal;
        }
      }

      img {
        height: $logo-height;
      }
    }

    .wrapper {
      margin-top: -$padding-default;
      margin-bottom: -$padding-default;
      height: 100vh;

      .right-side,
      .left-side {
        align-items: middle;
      }

      .left-side {
        .title {
          margin: auto;
          vertical-align: middle;
          margin-left: $layout-padding;
          padding-right: 107px;

          h1 {
            color: $white;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-super-large;
          }

          h2 {
            color: $white;
            font-weight: $font-weight-normal;
            font-size: $font-size-semi-large;
            line-height: 1.1;
          }
        }
      }

      .right-side {
        padding-left: 107px;
        padding-right: $layout-padding;

        h1 {
          color: $white;
          font-weight: $font-weight-semi-bold;
          margin-bottom: 0px;

          small {
            font-size: $font-size-regular;
            font-weight: $font-weight-normal;
          }
        }

        h2 {
          color: $white;
          margin-top: 12px;

          small {
            color: #fffa;
          }
        }

        .ant-form {
          &.ant-form-vertical {
            margin-top: 24px;

            .ant-form-item {
              .ant-form-item-label {
                label {
                  color: $white;
                  font-weight: $font-weight-semi-bold;
                }
              }

              .ant-checkbox-wrapper {
                color: $white;
              }

              .login-form-forgot {
                float: right;
              }
            }
          }

          .disclaimer {
            color: #eb5254b3;
            font-size: 12px;
            font-style: italic;
          }
        }

        .ant-checkbox-group {
          color: $white;
          margin-bottom: 10px;

          .ant-checkbox-wrapper {
            color: $white;
            padding: 4px;
            background-color: rgba(0, 88, 255, 0.4);
            border-radius: $border-radius;
            font-size: 12px;
            margin-bottom: 9px;

            .ant-checkbox-inner {
              background-color: transparent;
              border: none;
              width: 0px;
              height: 0px;
            }

            .ant-checkbox-checked {
              padding-left: 5px;

              .ant-checkbox-inner {
                width: 12px;
                height: 12px;
              }
            }
          }

          .ant-checkbox-wrapper-checked {
            background-color: #00ff5a66;
          }
        }
      }
    }
  }
}
