POSTGRES_PASSWORD=<<your postgres user's password>>

# Ensure the values above match those in the app.env file in the application.
DB_USER=<<your rtmis db user>>
DB_PASSWORD=<<your postgresql password>>
DB_SCHEMA=<<your rtmis schema name>>