@import "../../variables";

#root {
  .ant-input-search {
    border: 1px solid $color-semi-light;
    .ant-input-affix-wrapper,
    .ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
      border: none;
    }
    .ant-input-affix-wrapper:focus {
      border: none;
    }

    .ant-input-search-button {
      border: none;
    }
  }
  .advanced-filters {
    margin-top: 12px;
    .ant-card {
      text-align: left;
    }
    .filter-options {
      margin-top: 12px;
      .ant-col {
        margin-bottom: 8px;
      }
    }
    .filters-active {
      padding-top: 12px;
      .ant-tag {
        margin-bottom: 6px;
      }
    }
  }
}
.ant-popover-inner-content {
  display: none;
}
