.leaflet-bottom.leaflet-right {
  width: 100%;

  .leaflet-control-attribution.leaflet-control {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 22px;
  }
}

.leaflet-container {
  height: 585px;
  // width: 100%;
  z-index: 0;
}

.shape-tooltip-container {
  padding: 4px 7px;
  min-width: 150px;
  max-width: 250px;
  white-space: break-spaces;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .shape-tooltip-name {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: initial;
  }

  .shape-tooltip-value {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
  }
}
.map-container {
  position: relative;
  .map-buttons {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
  }
}
