.leaflet-bottom.leaflet-right {
  width: 100%;

  .leaflet-control-attribution.leaflet-control {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 22px;
  }
}

.leaflet-container {
  height: 585px;
  z-index: 0;
}

.shape-tooltip-container {
  padding: 4px 7px;
  min-width: 150px;
  max-width: 250px;
  white-space: break-spaces;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .shape-tooltip-name {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: initial;
  }

  .shape-tooltip-value {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
  }
}

.map-container {
  position: relative;
  z-index: 0;
  .map-buttons {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
  }
  .map-loading {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff2;

    .ant-spin-spinning {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
    }
  }
  .shape-legend {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 12px;
    max-width: 45%;
    max-height: 320px;
    overflow-y: scroll;
    background-color: #fffd;
    padding: 8px 12px;

    .circle-legend {
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
  }
}
.marker-legend {
  border: solid #d2d2df 2px;
  padding: 8px 12px;
  text-align: center;
}
