.leaflet-bottom.leaflet-right {
  width: 100%;

  .leaflet-control-attribution.leaflet-control {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 22px;
  }
}

.leaflet-container {
  height: 585px;
  width: 100%;
  z-index: 0;
}

.shape-tooltip-container {
  padding: 4px 7px;
  min-width: 200px;
  max-width: 250px;

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  .shape-tooltip-name {
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: initial;
  }

  .shape-tooltip-value {
    font-size: 12px;
    font-weight: bold;
  }
}
