@import "../../variables";

#root {
  .layout .body.body-home {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home {
    h1 {
      text-align: center;
    }

    .datasets {
      .card-wrapper {
        margin-bottom: 30px;

        .ant-card {
          padding-bottom: 120px;
        }

        a {
          &.read-more {
            display: block;
            position: absolute;
            bottom: 100px;
            width: 100%;
            left: 0px;
          }

          &.explore {
            display: block;
            position: absolute;
            bottom: 30px;
            width: 100%;
            left: 0px;
          }
        }
      }
    }

    .map-wrapper {
      padding-bottom: $padding-default;
    }

    .home-even,
    .home-odd {
      padding-top: $padding-default;
      padding-bottom: $padding-default;
    }
    .home-even {
      margin-left: -$layout-padding;
      margin-right: -$layout-padding;
      background-color: $white;
    }
    .about {
      p {
        width: 75%;
        margin: auto;
        font-size: 16px;
        text-align: center;
      }
    }
    .highlights {
      .highlight-title {
        margin: 12px 0 24px;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
