@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-regular;

  h1 {
    font-size: 28px;
    font-weight: $font-weight-semi-bold;
    line-height: 1.2;
  }

  .ant-btn {
    border-radius: 4px;
    text-transform: uppercase;

    &.ant-btn-sm {
      font-size: 12px;
    }

    &.ant-btn-primary {
      background-color: $blue;
      border-color: $blue;
    }
  }

  .ant-card {
    text-align: center;
    height: 100%;
    padding: 30px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .ant-card-head {
      border-bottom: none;

      .ant-card-head-title {
        font-size: 18px;
        font-weight: $font-weight-semi-bold;
      }
    }
  }
}
