@import "variables";

@import url("https://fonts.googleapis.com/css?family=Poppins|Montserrat:wght@400;500;600;700&display=swap");

#root {
  font-family: "Poppins", sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-regular;

  h1 {
    font-size: 28px;
    font-weight: $font-weight-semi-bold;
    line-height: 1.2;
    color: $blue;
  }
  h1.welcome {
    line-height: 1.4;
  }

  .ant-btn {
    border-radius: 100px;
    display: flex;
    padding: 6.4px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:not(.ant-btn-link) {
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    }

    &.ant-btn-sm {
      font-size: 12px;
    }

    &.ant-btn-primary {
      background-color: $blue;
      border-color: $blue;

      &[disabled] {
        color: #fffa;
        opacity: 0.7;
      }
    }
    & > .anticon + span,
    & > span + .anticon {
      margin-left: 0;
    }
    &.ant-btn-link {
      color: $blue;
    }
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ffffff;
    border-color: #d9d9d9;
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: $blue;
  }

  .ant-card {
    text-align: center;
    height: 100%;
    padding: 30px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .ant-card-head {
      border-bottom: none;

      .ant-card-head-title {
        font-size: 18px;
        font-weight: $font-weight-semi-bold;
      }
    }
  }

  .ant-form-item-explain-error {
    text-align: left;
  }

  .ant-table {
    td {
      .with-icon {
        .anticon {
          margin-right: 10px;
        }
      }
    }

    tr:nth-child(2n) td {
      background-color: #faf9fb;
    }

    .ant-table-expanded-row {
      .ant-table-cell {
        .table-child {
          border-radius: $border-radius;

          tr {
            td {
              background-color: $white;
            }
          }
        }

        .ant-table-wrapper {
          table {
            border-collapse: collapse;

            td,
            th {
              padding: 12px 18px;
              border-bottom: solid #dededf 1px;
              width: 50%;
            }

            th {
              background-color: #dededf;
              font-weight: $font-weight-semi-bold;
            }

            tr {
              td {
                color: #959495;
              }

              td:last-child {
                color: #1b66ff;
              }
            }

            tr:last-child td {
              border-bottom: 0 none;
            }
          }
        }
      }
    }
  }

  .ant-pagination {
    li,
    button {
      border: none;

      a {
        color: #898eab;
      }

      a:hover {
        color: #595e7b;
      }
    }

    .ant-pagination-item-active {
      border: none;
      background-color: $blue;

      a {
        color: #fff;
      }

      a:hover {
        color: #fff;
      }
    }
  }

  .hidden-field {
    .ant-form-item-control {
      .ant-form-item-control-input {
        display: none;
      }
    }
  }
}

.ant-pagination-total-text {
  position: absolute;
  left: 15px;
}

// .ant-checkbox-wrapper-checked span:nth-child(2) {
//   background-color: green;
//   border-radius: 5px;
// }

.description-panel {
  h2 {
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .description-paragraph {
    margin-top: 4px;
    background: transparent;
    color: $color-default;
  }
}

.text-muted {
  color: $color-default;
}

.text-error {
  color: #ff4d4f;
}

button.light {
  background-color: #b2b3b7;
  color: #fffe;
  font-weight: $font-weight-medium;
  width: auto;
  border: 0 none;
  padding: 0 8px;

  &.active {
    background-color: #969799;
  }

  &:hover {
    background-color: #969799;
    border: 0 none;
    color: #fff;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: #b2b3b7;
    color: #fffa;
    opacity: 0.7;
  }
}
