$bg-light: #f4f7fc;
$bg-dark: #333333;
$bg-header: #253239;

$color-light: #d9dcdd;
$color-dark: #253239;
$color-default: #666666;
$color-disabled: #dededf;

$blue: #0058ff;
$red: #ef7575;

$default-padding: 50px;
$border-radius: 0.25rem !default;

$font-family: "Poppins", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-size-large: 30px;
$font-size-regular: 14px;
$font-size-small: 12px;
