$bg-light: #f4f7fc;
$bg-dark: #333333;
$bg-header: #253239;

$color-light: #d9dcdd;
$color-dark: #253239;
$color-default: #666666;
$color-disabled: #dededf;

$blue: #0058ff;
$red: #ef7575;

$default-padding: 50px;
$border-radius: 0.25rem !default;
