@import "../../variables";

#root {
  #addUser {
    padding-bottom: 30px;

    .ant-card {
      text-align: left;
      margin-bottom: 30px;

      .form-row {
        margin-bottom: 24px;

        label {
          font-weight: 600;
        }

        input,
        .ant-select {
          margin-top: 8px;
        }
      }

      .ant-row {
        .ant-col:first-child {
          padding-right: 10px;
        }

        .ant-col:nth-child(2) {
          padding-left: 10px;
        }
      }
    }

    .ant-checkbox-wrapper {
      margin-right: 12px;
    }
  }
}
