@import "../../variables";

#root {
  #add-user {
    padding-bottom: 30px;

    .ant-card {
      text-align: left;
      margin-bottom: 30px;

      .form-row-adm {
        .ant-space {
          width: 100%;

          .ant-space-item {
            width: 100%;

            .ant-select {
              width: 100%;
            }
          }
        }
      }

      .form-row-adm,
      .form-row {
        margin-bottom: 8px;

        label {
          font-weight: 600;
        }

        input,
        .ant-select {
          margin-top: 4px;
        }
      }

      .ant-row {
        .ant-col:first-child {
          padding-right: 10px;
        }
      }
    }

    .ant-checkbox-wrapper {
      margin-right: 12px;
    }
  }
}
