@import "../../variables";

.contact-form-modal {
  .ant-modal-content .ant-modal-footer {
    padding-bottom: 10px;
  }

  .ant-modal-content textarea {
    margin: 0;
    border: 1px solid #d9d9d9;
  }

  .ant-modal-content .ant-input:focus,
  .ant-modal-content .ant-input:hover {
    border-right-width: 1px !important;
  }
}
